@using Suvi.Data
@using System.Collections.Generic
@inherits System.Web.Mvc.WebViewPage<Suvi.Data.Survey>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:fb="http://ogp.me/ns/fb#">
<head>
  
  <title>Survey in Pocket</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <link rel="stylesheet" href="Content/bootstrap.min.css" />
  <link rel="stylesheet" href="Content/font-awesome.min.css" />
  <link rel="stylesheet" href="Content/application.css" />
  <script src="Scripts/jquery-2.1.4.min.js" type="text/javascript" ></script>
  <script src="Scripts/frontend.js" type="text/javascript" ></script>
  @if (ViewData.ContainsKey("CustomCss") && ViewData["CustomCss"] != null){

  	foreach(var css in (List<string>)ViewData["CustomCss"]){
  		 <link rel="stylesheet" href="@css" />
  	}
  }
</head>
<body>
@Html.Partial("Suvi.Header, Suvi", null)

<main>
<div class="container-fluid feedback-container">

<article class="page question-page widget">
	<div class="widget-extra" >

		<div class="widget-content-light question-title ty-title">
			Thank you!
		</div>
	  <h4 class="widget-content-light question-content">

		<p class="description-content"></p>
	  </h4>
	</div>
</article>

</div>
</main>
</body>
</html>