@using Suvi.Data
@inherits System.Web.Mvc.WebViewPage<Suvi.Data.Question>

<div class="question-message">
  <div class="question-input">
    <textarea></textarea>
  </div>
  <div class="message-action clearfix">
    <button type="button" class="btn btn-primary js-next">Next</button>
  </div>
</div>
